SUPABASE_URL=https://wafwismmyzmsindgyouf.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndhZndpc21teXptc2luZGd5b3VmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1Nzg4NjksImV4cCI6MjA5MzE1NDg2OX0.uW9-efZuIvEBQWxTyvHJMkjPhcqT2fk-DTtlrTeUg-U